body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 10px 0px rgba(148,138,148,0.79);
    
    #logo {
    height: 35px;
    }
}


